<div class="container">
  <div class="picture">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/eat-less-salt.appspot.com/o/GettyImages-1126734925-640x427.jpg?alt=media&token=fe911fa2-4831-44eb-befe-8a869ebff9e1"
      class="rounded mx-auto d-block"
    />
  </div>

  <h1 class="text-center">A TÚLZOTT SÓFOGYASZTÁS VESZÉLYEI</h1>
  <span>
    A nyugati étkezési kultúrában általános a túlzott, gyakran az egészségre
    ártalmas mértékű sófogyasztás. Ennek fő oka a feldolgozott élelmiszerek, a
    készételek, konzervek fogyasztásának rendkívül nagy aránya, valamint a
    megszokásból sózás: a sóbevitel 6-20%-áért az ételek utólagos sózása a
    felelős.<br /><br />
    A táplálkozás során, az élelmiszerek sótartalmával és a sózással 97-99%-ban
    nátrium-kloridot juttatunk a szervezetünkbe, miközben a káliumbevitel –
    amely a nátrium hatását ellensúlyozhatná – elenyésző. A sófogyasztás
    hatásainak vizsgálatakor elsősorban a nátrium koncentrációját monitorozzák.
  </span>

  <div class="picture">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/eat-less-salt.appspot.com/o/img%2F2224891.jpeg?alt=media&token=145ccd86-a45f-4d6e-8968-211ec435b586"
      class="rounded mx-auto d-block" style="width: 80%;"
    />
  </div>

  <span>
    <h2>A túlzott sófogyasztás hatásai</h2>
    <span>
      A túlzott sófogyasztás hatásainak vizsgálatával világszerte számos
      tanulmány foglalkozik. Egy, a European Heart Journalban nemrégiben
      publikált kutatás több mint félmillió, az Egyesült Királyságban élő ember
      sófogyasztási szokásait vizsgálta 9 éven át. Sózási szokásaikat (tehát nem
      a fogyasztott ételek sótartalmát, hanem az élelmiszerek utólagos sózását)
      kérdőíves módszerrel vizsgálták, illetve a vizelet 24 órás
      nátriumkoncentrációját mérték. <br /><br />A kutatás eredményei alapján:
      <br /><br />
      <ul>
        <li>
          a túlzott sóhasználat növeli a korai (75 év előtti) halálozás
          kockázatát (az ételüket soha, vagy csak ritkán sózókhoz képest a
          mindig sózóknak 28%-kal nagyobb az esélyük a korai halálozásra);
        </li>
      </ul>
      <ul>
        <li>
          a túlzott sóhasználat csökkenti a várható élettartamot (az 50 éves
          korosztályhoz tartozó, ételüket mindig megsózó nők várható élettartama
          1,5, az ugyanezen csoporthoz tartozó férfiaké 2,8 évvel alacsonyabb
          azokénál, akik ritkán, vagy soha nem sózzák ételüket; a 60 éves
          korosztályban az ételeiket mindig megsózó nők várható élettartama 1,37
          évvel, a férfiaké 2,04 évvel kevesebb, mint nem sózó kortársaiké).
        </li>
      </ul>
      <!-- <br /><br /> -->
      A fentieket tovább árnyalja, hogy a zöldség- és gyümölcsfogyasztás (mint
      természetes káliumforrás) csökkenti a túlzott sóhasználat okozta korai
      halálozás kockázatát.
    </span>

    <div class="picture">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/eat-less-salt.appspot.com/o/img%2FSalt.jpg?alt=media&token=af0c664d-77b1-4fb4-a292-80e97d831fc2"
        class="rounded mx-auto d-block"
      />
    </div>
  </span>
  <h2>Kik hajlamosabbak túlzott sófogyasztásra?</h2>
  <span>
    A felmérés szerint túlzott sófogyasztásra hajlamosabbak a férfiak, a magas
    BMI-vel rendelkezők, illetve azok, akik kevésbé egészséges életmódot
    folytatnak (dohányzás, mozgásszegény életmód, alkoholfogyasztás), továbbá
    azok, akik sok vörös és feldolgozott húst, valamint kevés halat, zöldséget
    és gyümölcsöt fogyasztanak. Azok, akik túlzott mértékben használják a sót
    mindennapi étkezésük során, magasabb kockázati csoportba tartoznak a
    cukorbetegség és a kardiovaszkuláris betegségek szempontjából. Kevésbé
    hajlamosak a túlzott sófogyasztásra a kaukázusi populáció tagjai. A magas
    vérnyomással küzdők és a krónikus vesebetegségben szenvedők általában
    figyelik sófogyasztásukat, így ők többnyire nem használnak túlzott
    mennyiségben sót.
  </span>

  <div class="picture">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/eat-less-salt.appspot.com/o/img%2Fblog-3.jpg?alt=media&token=c014ec4c-80f0-44fb-9819-6e168e495892"
      class="rounded mx-auto d-block"
    />
  </div>

  <h2>Milyen betegségekre hajlamosít a túlzott sófogyasztás?</h2>

  <span>
    A túlzott sófogyasztás növeli a kardiovaszkuláris megbetegedések, ezen belül
    főként a stroke kialakulásának kockázatát, a koronária betegség okozta
    mortalitást azonban nem fokozza. A túlzott sófogyasztás daganatos
    megbetegedésekre is hajlamosít, különösen a gyomor-, a máj-, a tüdő- és a
    vesesejtes veserák kockázatát növeli.

    <br /><br />
    <strong>Az ételek sózása tehát közvetlen hatással van a szervezet
      nátriumbevitelére, mely így kihat a várható élettartamra és a korai
      halálozás kockázatára. Éppen ezért rendkívül fontos, hogy minél kevesebb
      feldolgozott élelmiszert és készételt fogyasszunk, és ne sózzuk
      megszokásból ételeinket.</strong>
  </span>
  <span class="source">
    <br /><br />
    <strong style="text-decoration: underline; color: rgb(175, 23, 23)">Forrás:</strong>
    <a href="https://egeszsegvonal.gov.hu/t-ty/2000-a-tulzott-sofogyasztas-veszelyei.html" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
      Nemzeti Népegészségügyi Központ - Egészségvonal
    </a>
  </span>
</div>

<app-footer></app-footer>
