<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="color: white;">
    <!-- <div class="container-fluid"> -->
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse" id="navbarNav" style="display: flex; justify-content: center; min-width: 100%; margin: 0; background-color: navy;"> -->
      <div class="collapse navbar-collapse" id="navbarNav" style="display: flex; justify-content: center; min-width: 100%; margin: 0; background-color: rgb(17 24 39 / var(--tw-bg-opacity))">
        <div class="col-2"></div>
        <div class="col-8">
          
          <ul class="navbar-nav" style="gap:5%; display: flex; justify-content: center; font-weight: 400; color: white;">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href="">Home</a> -->
              <a class="nav-link" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/items">Élelmiszerek</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/informations">Információk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kapcsolat</a>
            </li>
          </ul>
        </div>
          <div class="col-2 login"></div>
      </div>
    <!-- </div> -->
  </nav>