
* {
    color: whitesmoke;
    font-family: 'Special Elite', sans-serif;
    /* background-image: url('https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg'); */
    
}

.container {
    padding-top: 20px;
    padding-bottom: 100px;
}

.intro h1 {
    padding-top: 70px;
    padding-bottom: 55px;
}

/* img {
    width: 30%;
    height: auto;
} */

.imageContainer img  {
    width: 450px; 
    /* width: 30%; */
    height: auto; 
    border-radius: 10px;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}

.centerContent {
    display: flex; 
    justify-content: center; 
}

.imageContainer {
    display: flex; 
    justify-content: center; 
    padding-bottom: 20px;
    /* padding-top: 50px; */
}

li {
    list-style-type: none;
    list-style: none; 
    /* display: flex; */
    /* justify-content: space-between;  */
    padding-top: 65px; 
    padding-bottom: 65px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgrey;
}

/* .textBox{
    padding-left: 25px;
    padding-top: 70px;
} */

.textBox h1 {
    font-size: 30px;
    padding-top: 25px;
}

.text-content {
    width: fit-content;
    font-size: 16px;
    text-align: justify;
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

.card {
    box-shadow: 20px 20px 17px 0px rgba(0,0,0,0.75);
    background-color:  hsl(212.2, 84%, 15%);
}


.card-title {
    font-size: 20px;
    font-weight: bold;
    /* font-size: var(--font-size-5); */
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: black; */
}

.card-body {
    /* background-color: hsl(0, 0%, 90%); */
    /* background-color:  hsl(212.2, 84%, 15%); */
    
}


.card > *:not(:first-child) {
    margin-block-start: var(--size-5);
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* color: black; */
}

/* .btn a {
    box-shadow: 20px 20px 17px 0px rgba(0,0,0,0.75);
    width: fit-content;
    margin-left: 20%;
    
} */

.btn, btn-primary {
    width: fit-content;
    color: whitesmoke;
    justify-content: center;
    /* margin-left: 25%; */
    margin-bottom: 25px;
    margin-top: 10px;
}



